# Case Study 1 (Working file)

## Imports

In [13]:
# imports
import pandas as pd
import matplotlib.pyplot as plt

## Create DataFrame

In [14]:
column_names = ['time', 'scanMac', 'posX', 'posY', 'posZ', 'orientation', 'mac', 'signal', 'channel', 'type']

lines = None
with open('../Data/offline.final.trace.txt', 'r') as file:
    lines = file.readlines()
    file.close()

instances = [] # will hold final data for dataframe

for line in lines:
    
    # strip "\n" from line
    line = line.rstrip('\n')
    
    # skip if comment
    if line[0] == '#':
        continue

    base = [] # [t, id, x, y, z, degree]
    rows = [] # base + [mac, signal, channel, type]

    for keyvalue in line.split(';'):
        key, value = keyvalue.split('=')

        if key in ['t', 'id', 'degree']:
            base.append(value)
        elif key == 'pos':
            # pos (x, y, z)
            base += value.split(',')
        else:
            # mac addresses and metrics (signal, channel, type)
            row = base.copy()
            row.append(key)
            row += value.split(',')
            rows.append(row)
    
    instances += rows

df = pd.DataFrame(instances, columns = column_names)

print(df.info())
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1181628 entries, 0 to 1181627
Data columns (total 10 columns):
time           1181628 non-null object
scanMac        1181628 non-null object
posX           1181628 non-null object
posY           1181628 non-null object
posZ           1181628 non-null object
orientation    1181628 non-null object
mac            1181628 non-null object
signal         1181628 non-null object
channel        1181628 non-null object
type           1181628 non-null object
dtypes: object(10)
memory usage: 90.2+ MB
None

,time,scanMac,posX,posY,posZ,orientation,mac,signal,channel,type
0,1139643118358,00:02:2D:21:0F:33,0.0,0.0,0.0,0.0,00:14:bf:b1:97:8a,-38,2437000000,3
1,1139643118358,00:02:2D:21:0F:33,0.0,0.0,0.0,0.0,00:14:bf:b1:97:90,-56,2427000000,3
2,1139643118358,00:02:2D:21:0F:33,0.0,0.0,0.0,0.0,00:0f:a3:39:e1:c0,-53,2462000000,3
3,1139643118358,00:02:2D:21:0F:33,0.0,0.0,0.0,0.0,00:14:bf:b1:97:8d,-65,2442000000,3
4,1139643118358,00:02:2D:21:0F:33,0.0,0.0,0.0,0.0,00:14:bf:b1:97:81,-65,2422000000,3

## Exploratory Data Analysis (EDA)

In [15]:
df['mac'].value_counts()

00:0f:a3:39:e1:c0    145862
00:0f:a3:39:dd:cd    145619
00:14:bf:b1:97:8a    132962
00:14:bf:3b:c7:c6    126529
00:14:bf:b1:97:90    122315
00:14:bf:b1:97:8d    121325
00:14:bf:b1:97:81    120339
02:00:42:55:31:00    103887
02:64:fb:68:52:e6     50852
00:0f:a3:39:e0:4b     43508
02:2e:58:22:f1:ac     25112
00:0f:a3:39:e2:10     19162
02:37:fd:3b:54:b5      8732
02:b7:00:bb:a9:35      7602
02:5c:e0:50:49:de      6997
00:04:0e:5c:23:fc       418
00:30:bd:f8:7f:c5       301
00:e0:63:82:8b:a9       103
02:0a:3d:06:94:88         1
02:4f:99:43:30:cd         1
02:42:1c:4e:b5:c0         1
Name: mac, dtype: int64

In [16]:
df.describe()

,time,scanMac,posX,posY,posZ,orientation,mac,signal,channel,type
count,1181628,1181628,1181628,1181628,1181628,1181628,1181628,1181628,1181628,1181628
unique,146074,1,34,14,1,203,21,75,10,2
top,1139648662194,00:02:2D:21:0F:33,1.0,3.0,0.0,90.3,00:0f:a3:39:e1:c0,-59,2462000000,3
freq,21,1181628,109816,241614,1181628,26847,145862,40878,189774,978443

In [17]:
df.posX.unique()

array(['0.0', '1.0', '2.0', '3.0', '4.0', '5.0', '6.0', '7.0', '8.0',
       '9.0', '10.0', '11.0', '12.0', '13.0', '14.0', '15.0', '16.0',
       '17.0', '18.0', '19.0', '20.0', '21.0', '22.0', '23.0', '24.0',
       '25.0', '26.0', '27.0', '28.0', '29.0', '30.0', '31.0', '32.0',
       '33.0'], dtype=object)

In [18]:
df.posY.unique()

array(['0.0', '1.0', '2.0', '3.0', '4.0', '5.0', '6.0', '7.0', '8.0',
       '9.0', '10.0', '11.0', '12.0', '13.0'], dtype=object)

In [19]:
df[df.mac.isin(['02:4f:99:43:30:cd', '02:42:1c:4e:b5:c0'])]

,time,scanMac,posX,posY,posZ,orientation,mac,signal,channel,type
826421,1140354929009,00:02:2D:21:0F:33,24.0,6.0,0.0,135.3,02:42:1c:4e:b5:c0,-64,2447000000,1
1083583,1140379335054,00:02:2D:21:0F:33,32.0,3.0,0.0,315.8,02:4f:99:43:30:cd,-70,2447000000,1

In [20]:
df.orientation.unique()

array(['0.0', '45.2', '90.3', '135.9', '180.3', '225.6', '270.1', '315.0',
       '45.1', '90.7', '135.2', '180.1', '225.7', '269.7', '315.3', '0.3',
       '45.5', '90.5', '135.7', '180.2', '225.0', '270.9', '315.2', '0.7',
       '45.7', '89.8', '225.2', '269.9', '0.4', '90.4', '134.8', '180.4',
       '0.2', '45.6', '135.0', '179.6', '225.4', '269.5', '179.2',
       '224.5', '89.9', '134.4', '269.4', '359.9', '90.1', '135.1',
       '270.2', '314.8', '313.8', '45.8', '90.8', '134.9', '225.9',
       '270.5', '315.9', '45.4', '134.7', '180.0', '224.9', '269.8',
       '314.4', '0.1', '44.3', '225.3', '315.7', '0.5', '44.8', '89.4',
       '226.0', '315.1', '0.8', '89.2', '180.8', '224.8', '315.8', '44.4',
       '180.5', '314.9', '44.9', '179.8', '315.5', '135.6', '0.6',
       '135.4', '179.9', '225.1', '270.0', '45.3', '270.4', '45.0',
       '90.6', '46.0', '0.9', '44.6', '135.3', '90.2', '134.2', '44.5',
       '134.5', '226.1', '269.6', '270.3', '315.4', '1.5', '135.8',
       '179.4', '314.7', '90.0', '225.5', '314.5', '180.9', '135.5',
       '47.6', '226.5', '89.7', '136.7', '270.8', '225.8', '270.7',
       '181.5', '270.6', '359.7', '180.6', '45.9', '46.3', '359.6',
       '268.3', '224.6', '1.0', '180.7', '315.6', '224.7', '223.4',
       '91.0', '224.4', '271.5', '179.3', '269.0', '359.8', '89.6',
       '226.9', '314.6', '134.3', '2.0', '89.0', '316.5', '179.7',
       '224.0', '271.0', '1.2', '136.0', '314.0', '268.4', '91.5',
       '134.6', '226.3', '226.2', '324.5', '179.5', '271.6', '358.3',
       '91.2', '46.5', '271.3', '359.5', '269.3', '316.3', '44.7',
       '271.2', '90.9', '136.6', '136.5', '136.3', '46.8', '316.0',
       '269.2', '181.1', '44.2', '91.1', '314.2', '89.1', '314.3', '46.6',
       '358.8', '358.6', '358.7', '88.8', '182.7', '182.8', '224.1',
       '316.8', '7.9', '181.0', '359.3', '89.5', '316.1', '316.6',
       '359.1', '134.0', '226.4', '2.1', '227.0', '228.1'], dtype=object)

In [21]:
df[df['posX'] == 0.0]

Empty DataFrame
Columns: [time, scanMac, posX, posY, posZ, orientation, mac, signal, channel, type]
Index: []

In [24]:
for x in df.orientation.unique():
    print(round_angle(float(x)))

0
45
90
135
180
225
270
315
45
90
135
180
225
270
315
0
45
90
135
180
225
270
315
0
45
90
225
270
0
90
135
180
0
45
135
180
225
270
180
225
90
135
270
360
90
135
270
315
315
45
90
135
225
270
315
45
135
180
225
270
315
0
45
225
315
0
45
90
225
315
0
90
180
225
315
45
180
315
45
180
315
135
0
135
180
225
270
45
270
45
90
45
0
45
135
90
135
45
135
225
270
270
315
0
135
180
315
90
225
315
180
135
45
225
90
135
270
225
270
180
270
360
180
45
45
360
270
225
0
180
315
225
225
90
225
270
180
270
360
90
225
315
135
0
90
315
180
225
270
0
135
315
270
90
135
225
225
315
180
270
360
90
45
270
360
270
315
45
270
90
135
135
135
45
315
270
180
45
90
315
90
315
45
360
360
360
90
180
180
225
315
0
180
360
90
315
315
360
135
225
0
225
225

In [9]:
def round_angle(angle):
    buckets = [angle for angle in angle_buckets()]
    angles = [abs(a - angle) for a in buckets]
    sorted_angles = angles.copy()
    sorted_angles.sort()
    min_val = sorted_angles[0]
    min_index = angles.index(min_val)
    return buckets[min_index]

In [3]:
def angle_buckets(start = 0, end = 360, step = 45):
     for i in range(0, int(round(end/step, 0)) + 1):
            val = start + i*step
            yield val